<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>

    <script src="/assets/js/userManager.js"></script>

    <title>User Manager - Sqabot by TMS</title>
</head>
<body>
    <%- include("../../partials/header", {baseUri: baseUri, page: "/bot/users"}) %>

    <%- include("../../partials/sidebar", {baseUri: baseUri, page: "/bot/users"}) %>

    <div class="main-content">
        <main id="main">
            <section class="box">
                <h2><i class="fa-solid fa-dice-d6"></i> User Manager <div class="buttons"><button type="button" class="button button-success new"><i class="fa-solid fa-plus"></i> Add a User</button></div></h2>
                <form method="GET" class="search remove-inactive">
                    Search for Users
                    <div class="search-box">
                        <input type="text" name="username" id="username" value="<%= query.username %>" placeholder="Search for a User">
                        <select name="role" id="role">
                            <option value="all"<%- query.role === "all" ? ` selected="selected"` : "" %>>All Roles</option>
                            <% allRoles.forEach(role => { %><option value="<%= role._id %>"<%- String(role._id) === query.role ? ` selected="selected"` : "" %>><%= role.name %> (<%= role.weight %>)</option><% }) %>
                        </select>
                        <button class="button" type="submit" aria-label="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                
                <%- include("../../partials/pagination", {uri: `users`, pagination, query}) %>

                <div class="row row-head container">
                    <div class="col-4">Display Name</div>
                    <div class="col-6">Roles</div>
                    <div class="col-2 right-align">Max Weight</div>
                </div>
                <form class="new-container col-12 container container-md" data-type="user" data-channel-id="<%= targetUser.user._id %>" style="display:none;">
                    <h3 class="col-12">New User</h3>
                    <label class="form-group col-5">
                        Username
                        <input type="text" name="user" minlength="2" maxlength="25" placeholder="DevTwijn" required>
                        <small>The username of the user to add roles to.</small>
                    </label>
                    <div class="form-group col-7">
                        Roles
                        <div>
                            <div class="role-select">
                                <button class="button add-role" type="button" aria-label="Add Role"><i class="fa-solid fa-plus"></i></button>
                                <div class="roles">
                                    <h4><i class="fa-solid fa-plus"></i> Add Roles</h4>
                                    <% customRoles.forEach(role => { %>
                                    <a href="#" class="role" data-id="<%= role._id %>"><%= role.name %> (<%= comma(role.weight) %>)</a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <small>The initial roles to assign to the user.</small>
                    </div>
                    <div class="buttons col-12">
                        <button class="button button-danger" onclick="$(this).closest('form').slideUp(200)" type="button">Cancel</button>
                        <button class="button button-success" type="submit">Add</button>
                    </div>
                </form>
            <% userRoles.forEach(userRole => { %>
                <div class="object" data-type="user" data-id="<%= String(userRole.user._id) %>" data-channel-id="<%= targetUser.user._id %>">
                    <div class="row object-container container">
                        <div class="col-4"><img class="small-pfp" src="<%= userRole.user.profile_image_url %>" alt="Profile picture for <%= userRole.user.display_name %>"> <%= userRole.user.display_name %></div>
                        <div class="col-6">
                            <% userRole.roles.forEach(role => { %>
                                <a class="role code<%= role.type === "custom" ? " removable" : "" %>" data-id="<%= String(role._id) %>"><%= role.name %> (<%= comma(role.weight) %>)</a>
                            <% }) %>
                            <div class="role-select">
                                <button class="button add-role" type="button" aria-label="Add Role"><i class="fa-solid fa-plus"></i></button>
                                <div class="roles">
                                    <h4><i class="fa-solid fa-plus"></i> Add Roles</h4>
                                    <% let found = false; customRoles.forEach(role => { if (!userRole.roles.find(x => String(x._id) === String(role._id))) { found = true; %>
                                    <a href="#" class="role" data-id="<%= role._id %>"><%= role.name %> (<%= comma(role.weight) %>)</a>
                                    <% }}) %>
                                    <% if (!found) { %>
                                        <small>No roles to add!</small>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 right-align"><code class="code"><%= userRole.maxWeight %></code></div>
                    </div>
                </div>
            <% }) %>
                <% if (userRoles.length === 0) { %>
                    <div class="none">No users to show here. <img src="/assets/images/emotes/sadge.png" alt="Sadge Emote" class="emote"></div>
                <% } %>
                
                <%- include("../../partials/pagination", {uri: `users`, pagination, query}) %>
            </section>
        </main>

        <%- include("../../partials/footer") %>
    </div>
</body>
</html>
