<% 
const SQABOT_PAGES = ["sqa-dashboard"];
const CHATBOT_PAGES = ["role-manager","user-manager","bot-commands"];
let isSqabot = SQABOT_PAGES.includes(page);
let isChatbot = CHATBOT_PAGES.includes(page);
%><div class="sidebar-container">
    <nav class="sidebar">
        <ul>
            <li>
                <ul class="<%- isSqabot ? `active` : `collapse` %>">
                    <li class="group-header"><a href="#">Sqabot</a></li>
                    <div<%- isSqabot ? `` : ` style="display: none;"` %>>
                        <li<%- page === "sqa-dashboard" ? ` class="active"` : `` %>><a href="<%= baseUri %>"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
                    </div>
                </ul>
            </li>
            <li>
                <ul class="<%- isChatbot ? `active` : `collapse` %>">
                    <li class="group-header"><a href="#">Chat Bot</a></li>
                    <div<%- isChatbot ? `` : ` style="display: none;"` %>>
                        <li<%- page === "role-manager" ? ` class="active"` : `` %>><a href="<%= baseUri %>bot/roles"><i class="fa-solid fa-dice-d6"></i> Role Manager</a></li>
                        <li<%- page === "user-manager" ? ` class="active"` : `` %>><a href="<%= baseUri %>bot/users"><i class="fa-solid fa-users"></i> User Manager</a></li>
                        <li<%- page === "bot-commands" ? ` class="active"` : `` %>><a href="<%= baseUri %>bot/commands"><i class="fa-solid fa-message-bot"></i> Bot Commands</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
</div>
